@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    font-family: "Orbitron", sans-serif;
}

.myName {
    font-size: 150px;
    line-height: 120px;
    font-weight: 900;
    background: linear-gradient(to right, rgb(255, 191, 0), rgb(255, 89, 0)) no-repeat center;
    background-size: cover;
    background-clip: text;
    color: transparent;

}