@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Orbitron", sans-serif;
}

.main::-webkit-scrollbar {
    display: none;
}

.myName {
    font-size: 150px;
    line-height: 120px;
    font-weight: 900;
    background: linear-gradient(to right, rgb(255, 191, 0), rgb(255, 89, 0)) no-repeat center;
    background-size: cover;
    background-clip: text;
    color: transparent;
}

.customPointer {
    background: transparent;
    box-shadow: 0px 0px 100px 50px #ffa500;
    filter: blur();
}

.knowmore,
.knowmore * {
    font-family: "Montserrat", sans-serif;
    word-spacing: 1px;
    margin: 20px 0px;
    color: #686868;
}

.knowmore a {
    text-decoration: underline;

}

.about * {
    font-family: "Montserrat", sans-serif;
}